#wrapper {
  width: 100%;
  position: relative; }

.container {
  max-width: 1445px;
  padding: 0 15px;
  margin: 0 auto; }

.small-container {
  max-width: 1197px;
  padding: 0 36px;
  margin: 0 auto; }

#main {
  padding-top: 104px; }

.banner {
  position: relative;
  background: url(../images/banner.jpg) no-repeat 0 -104px;
  height: 32vh; }
  .banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #24282f;
    opacity: .9;
    padding: 81px 0; }
  .banner .text {
    max-width: 795px;
    color: #fff;
    line-height: 1; }
    .banner .text h1 {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 12px; }
    .banner .text p {
      line-height: 1.5; }

.title {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-family: 'Raleway';
  color: #24282f;
  padding-bottom: 26px;
  margin-bottom: 33px; }
  .title:after {
    content: '';
    position: absolute;
    width: 78px;
    height: 2px;
    background: #b5a263;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.management-section {
  padding: 147px 0 28px; }
  .management-section .info img {
    display: inline-block;
    margin-bottom: 21px; }
  .management-section .info-holder {
    padding: 0 11px;
    display: flex;
    align-items: flex-end; }
    .management-section .info-holder h3 {
      text-transform: uppercase;
      margin-bottom: 2px; }
    .management-section .info-holder span {
      color: #b5a263; }
    .management-section .info-holder .text-holder {
      margin-right: 44px; }
    .management-section .info-holder .social ul {
      display: flex; }
      .management-section .info-holder .social ul li {
        margin-right: 6px; }
        .management-section .info-holder .social ul li a {
          color: #fff;
          display: block;
          font-size: 16px;
          padding: 8px 0 0 0;
          border: 1px solid #d1d5d8;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          text-align: center;
          background: #dedede; }

.row-holder {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 -38px 40px; }

.col-4 {
  width: 33.333%;
  padding: 0 38px; }

.button {
  display: block;
  width: 164px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  color: #24282f;
  text-transform: uppercase;
  border: 1px solid #24282f;
  border-radius: 35px;
  padding: 14px 20px; }

.bx-pager {
  display: none; }

.bx-wrapper {
  position: relative;
  margin: 0 auto; }

.prev {
  display: block;
  float: none;
  position: absolute !important;
  content: "\e901";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  top: 52px;
  font-size: 26px;
  color: #24282f; }

.next {
  display: block;
  float: none;
  position: absolute !important;
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  right: 0;
  top: 52px;
  font-size: 26px;
  color: #24282f; }

.testimonials-slider {
  position: relative; }

.testimonials-section {
  text-align: center;
  padding: 120px 0;
  background: #f7f7f7; }
  .testimonials-section .title {
    margin-bottom: 64px;
    font-family: 'Raleway'; }
    .testimonials-section .title:after {
      background: #24282f; }
  .testimonials-section .slide {
    padding: 0 158px; }
    .testimonials-section .slide .testimonials-block {
      color: #212121; }
      .testimonials-section .slide .testimonials-block p {
        margin-bottom: 36px;
        line-height: 1.8; }
      .testimonials-section .slide .testimonials-block span {
        display: block; }
      .testimonials-section .slide .testimonials-block .img-block {
        width: 90px;
        border-radius: 50%;
        margin: 0 auto 29px; }
        .testimonials-section .slide .testimonials-block .img-block img {
          display: inline-block;
          border-radius: 50%; }
      .testimonials-section .slide .testimonials-block .author {
        font-size: 16px;
        text-transform: uppercase;
        color: #b5a263;
        margin-bottom: 12px; }
